@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/ralewayregular.woff2') format('woff2'), url('../fonts/ralewayregular.woff') format('woff'), url('../fonts/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/ralewaymedium.woff2') format('woff2'), url('../fonts/ralewaymedium.woff') format('woff'), url('../fonts/ralewaymedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../fonts/ralewaysemibold.woff2') format('woff2'), url('../fonts/ralewaysemibold.woff') format('woff'), url('../fonts/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/ralewaybold.woff2') format('woff2'), url('../fonts/ralewaybold.woff') format('woff'), url('../fonts/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../fonts/ralewayextrabold.woff2') format('woff2'), url('../fonts/ralewayextrabold.woff') format('woff'), url('../fonts/ralewayextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/*Basic settings*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    
}

h3, h4, h5, h6 {
    font-weight: 600;
    color: #555555;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*Hero Section*/
.header {
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #151a22;
    padding: 40px 0 40px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px;
}

.logo__text {
    font-size: 34px;
    font-family: 'Raleway';
    font-weight: 400;
    letter-spacing: -0.96px;
    color: #fff;   
}

.menu {
    display: flex;
    list-style-type: none; 
    color: #fff;
    margin: 0 60px 0 220px;
}

.menu__list a{
    color: #fff;
    font-size: 14px;
    margin-right: 28px;
}

.menu__list:last-child a{
    margin-right: 0;
}

.menu__list_active a {
    color: #c7b299;
}

.menu__list a:hover {
    color: #c7b299;
    transition: 0.5s ease;
}

.menu__list a:active {
    color: #a69785;
}

.header__icons i {
    color: #fff;
    font-size: 20px;
}

.header__icons i:hover {
    color: #c7b299;
    transition: 0.5s ease;
}

.header__icons i:active {
    color: #a69785;
}

.fa-shopping-bag {
    margin-right: 25px;
}

.offer__slider {
   display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 300px auto 0 auto;
}

.offer__slider__arrow_left {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-top: 3px solid #a3a2a0;
    border-left: 3px solid #a3a2a0;
    transform: rotate(-45deg);
}

.offer__slider__arrow_right {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-top: 3px solid #a3a2a0;
    border-right: 3px solid #a3a2a0;
    transform: rotate(45deg);
}

.offer__slider__arrow_left:hover{
    border-top: 3px solid #8d877c;
    border-left: 3px solid #8d877c;
    transition: 0.5s ease;
} 

.offer__slider__arrow_right:hover{
    border-top: 3px solid #8d877c;
    border-right: 3px solid #8d877c;
    transition: 0.5s ease;
}

.offer__slider__arrow_left:active {
    border-top: 3px solid #c7c4bf;
    border-left: 3px solid #c7c4bf;
    transition: 0.5s ease;
}

.offer__slider__arrow_right:active{
    border-top: 3px solid #c7c4bf;
    border-right: 3px solid #c7c4bf;
    transition: 0.5s ease;
}

.offer__wrapper {
    color: #fff;
    text-align: center;
    margin-bottom: 325px;
}

.offer__title {
    font-weight: 500;
}

.offer__title_big {
    font-weight: 800;
    font-size: 52px;
    margin: 10px 0 10px 0;
}

.offer__text {
    width: 580px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.btn {
    display: block;
    margin: 0 auto;
    background-color: #998675;
    color: #fff;
    text-transform: uppercase;
    width: 170px;
    height: 53px;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 800;
    border-radius: 3px;
    line-height: 53px;
    box-shadow: 0px 3px 0px 0px rgba(115,99,87,1);
}

.btn:hover {
    background-color: #847262;
    transition: 0.5s ease;
}

.btn:active {
    background-color: #69635e;
    box-shadow: 0px 3px 0px 0px rgba(84,81,78,1);
    transition: 0.5s ease;
}

.offer__pagination {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.offer__pagination_item {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4); 
    box-sizing: border-box;
    border: 2px solid transparent;
}

.offer__pagination_item:last-child {
    margin-right: 0;
}

.offer__pagination_item_active {
    border: 2px solid #cfbeaa;
    background-color: rgba(255, 255, 255, 0); 
}


.offer__pagination_item:hover {
    border: 2px solid #cfbeaa;
    background-color: rgba(255, 255, 255, 0); 
    transition: 0.5s ease;
}

.offer__pagination_item:active {
    border: 2px solid transparent;
    background-color: #cfbeaa; 
    transition: 0.5s ease;
}

/*Services Section*/
.services {
    padding: 80px 0 110px 0;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services__item {
    text-align: center;
    cursor: pointer;
}

.services__pic {
    display: block;
    margin: 0 auto 25px auto;
}

.services__pic_one {
    width: 49px;
    height: 49px;
    background-image: url(../img/service-icon1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services__pic_two {
    width: 44px;
    height: 40px;
    background-image: url(../img/service-icon2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services__pic_three {
    width: 44px;
    height: 44px;
    background-image: url(../img/service-icon3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services__pic_four {
    width: 52px;
    height: 36px;
    background-image: url(../img/service-icon4.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services__title {
    margin-bottom: 15px;
}

.services__text {
    line-height: 24px;
    font-size: 14px;
    color: #8c8c8c;
    width: 269px;
    position: relative;
}

.services__text:after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    position: absolute;
    bottom: -30px;
    left: 100px;
}

.services__item:hover .services__title {
    color: #c7b299;
    transition: 0.5s ease;
}

.services__item:hover .services__text:after {
    background-color: #c7b299;
    transition: 0.5s ease;
}

.services__item:hover .services__pic_one {
    background-image: url(../img/service-icon-hover1.png);
    transition: 0.5s ease;
}

.services__item:hover .services__pic_two {
    background-image: url(../img/service-icon-hover2.png);
    transition: 0.5s ease;
}

.services__item:hover .services__pic_three {
    background-image: url(../img/service-icon-hover3.png);
    transition: 0.5s ease;
}
.services__item:hover .services__pic_four {
    background-image: url(../img/service-icon-hover4.png);
    transition: 0.5s ease;
}

/*Realization Section*/
.realization {
    padding: 70px 0 0 0;
    background-color: #fbfaf8;
}

.realization__title {
   text-align: center;
}

.realization__text {
    color: #8c8c8c;
    text-align: center;
    line-height: 28px;
    width: 770px;
    margin: 20px auto 30px auto;
}

.realization__pic {
    width: 100%;
    min-height: 482px;
    background-image: url('../img/browser-center.jpg'),
                      url('../img/browser-left.jpg'),
                      url('../img/browser-right.jpg');
    background-size: contain, 65%, 65%;
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
}

/*Aside WordPress Theme*/
.wordpress {
    padding: 45px 0;
    background: rgb(33,27,25);
background: linear-gradient(90deg, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
}

.wordpress__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordpress__title {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

.wordpress__title_color {
    color: #c7b299;
}

.wordpress__text {
    font-size: 18px;
    color: #615855;
    margin-top: 5px;
}

.wordpress__btn {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
}